.buil-page {
    width: 100%;
    height: 75vh;
    background-color: #af272f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    padding: 2rem 3rem;
    width: 100vw;
}

.main-container p {
    font-family: 'Roboto', sans-serif;
}

.post-container {
    width: 80vw;
    margin: auto;
}

.card-container {
    padding: 3rem !important;
}

.post-html {
    padding: 3rem;
}

.post-html p{
    padding: 1rem 0;
}

.post-html ul{
    padding: 1rem 2rem;
}

.post-html li{
    padding: .5rem 0;
}

.tweet-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-body {
    padding: 0 1rem 1rem 1rem ;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.searcher-container {
    display: flex;
    width: 50%;
    margin: auto;
    padding: 1rem;
}

.searcher-skeleton {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.searcher-input {
    background-color: #fff !important;    
}

.stack-posts {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bio-container {
    width: 80vw;
    margin: auto;
}

.bio-card-container {
    flex-direction: row !important;
}

.extract-html {
    margin-top: 1.5rem;
}

.card-hover .chakra-card:hover {
    border-color: #af272f !important;
    border-width: 2px;

    & h2 {
        color: #af272f !important;
    }
}

.filter-option:hover {
    box-shadow: rgba(0, 0, 0, 0.75) 0px 5px 15px;
}

.filter-select {
    background-color: #fff!important;
    border: 1px solid #af272f!important;
    color: #af272f!important;
    font-weight: bold!important;
}

.post-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.hero-image {
    height: 80vh;
}

.hero-text {
    position: absolute;
    bottom: 0;
    padding: 1.5rem 2.5rem 3rem;
    width: 100%;
    background-color: #00000082;
    text-align: left;
    cursor: pointer;
}

.main-posts {
    display: grid;
    grid-template-columns: 40vw 40vw;
    justify-content:space-around
}

.card-main {
    width: 40vw;
}


@media (max-width: 782px) {
    .main-container {
        padding: 1rem 0;
        width: 100vw;
    }
    .post-container {
        width: 95vw;
        margin: auto;
    }
    .bio-container {
        width: 95vw;
        margin: auto;
    }
    .card-container {
        padding: 1rem !important;
    }
    .post-html {
        padding: 1rem;
    }
    .stack-posts {
        width: 80%;
        margin: auto;
        display: block;
    }
    .searcher-container {
        width: 80%;
    }
    .bio-card-container {
        flex-direction: column !important;
    }
    .main-posts {
        display: grid;
        grid-template-columns: 95vw;
        justify-content: center;
    }
    .card-main {
        width: 95vw;
    }
    .hero-image {
        height: 70vh;
    }
}
